body{
            font-family:'Lucida Sans';
            text-align:center;
            padding: 4px;
            background-color: rgb(193, 215, 153);
        }
        h2{
            color:rgb(143, 30, 204);

        }
        a:link{
            color:rgb(21, 27, 199);
        }
        a:visited{
            color:rgb(52, 8, 8);
        }
        a:hover{
            color:aqua;
            background-color:blueviolet;
            padding:5px 10px;
            border-radius:3px; 
        }
        ul{
            padding:0px;
            width: 220px;
            font-family:Arial;
        }

        ul li{
            margin:5px;
            padding:10px;
            border-radius:1px;

        }

        ul li:nth-child(odd){
            background-color: blue;
            border-radius:3px;
        }

        ul li:nth-child(even){
            background-color: pink;
            border-radius:20px;
        }

        ul li:last-child{
            background-color:rgb(121, 178, 178);
        }

        ul li:first-child{
            background-color:chartreuse;
        }